/*css for index.html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid 1px red;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    nav {
        width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .user-info {
        width: 500px;
        display: flex;
        flex-direction: row;
        padding: 30px;
    }

    .student-reservations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
    }

    .student-reservations table {
        border-collapse: collapse;
        width: 800px;
        text-align: center;
    }

    .student-reservations thead {
        display: table;
        width: 100%;
        table-layout: fixed;
        background-color: #f5f5f5;
    }

    .student-reservations tbody {
        display: block;
        height: 300px; /* set your desired scroll height */
        overflow-y: auto;
        width: 100%;
    }

    .student-reservations tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .request-search-body {
        display: flex;
        flex-direction: row;
    }

        search {
            display: flex;
            flex-direction: column;
            /* justify-content: center;
            align-items: center; */
            width: 100%;
        }

        .request-filter-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

            .request-filter-categories {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                gap: 10px;
            }

            .request-filter-categories > div {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

    .archive-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .request-room-option-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        height: 600px;
        overflow-y: scroll;
        gap: 10px;
    }
        .request-room-option-container > div {
            width: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .request-room-option-container > div > form {
                width: 100%;

                padding: 10px;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                text-align: center;
                cursor: pointer;
            }

            .request-room-option-container > div > form:hover {
                background-color: blueviolet;
            }

            .room-name {
                width: 30%;
            }

            .room-type {
                width: 50%;
            }

            .room-floor {
                width: 10%;
            }

            .room-capacity {
                width: 10%;
            }

            .room-not-found {
                width: 100%;
            }
    
    .room-information-container {
        border-collapse: collapse;
    }

    .room-information-container td {
        width: 500px;
    }

    .room-information-container td > strong {
        display: inline-block;
        width: 50%;
        text-align: right;
    }

    .room-information-container tr:nth-child(4) > td {
        text-align: center;
    }
    
    
    .class-schedule-container {
        width: 1000px;
        text-align: center;
        border-collapse: collapse;
        height: 750px;
    }

    .room-request-form-container {
        width: 700px;
        height: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .room-request-form-container > form {
            width: 48%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .room-request-form-container > div {
            width: 48%;
            display: flex;
            flex-direction: column;
            height: 100%;
        }

            .room-request-form-container > form > div {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: left;
            }

                .room-request-form-container > form > div > label {
                    width: 150px;
                }

                .room-request-form-container > form > div > input {
                    width: 200px;
                }

                .room-request-form-container > form > div > textarea{
                    resize: none;
                }

            .suggestions-box {
                border: 1px solid #ccc;
                max-height: 150px;
                overflow-y: auto;
                position: absolute;
                background: white;
                width: 200px;
                z-index: 2;
            }

            .suggestion-item {
                padding: 5px;
                cursor: pointer;
            }

            .suggestion-item:hover {
                background-color: #f0f0f0;
            }
    
    .reservation-details-container {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

        .reservation-details-container > p > strong {
            display: inline-block;
            width: 45%;
            text-align: right;
        }

        .reservation-details-container > .button-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    
    /* Faculty  */

    .faculty-dashboard-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 1200px;
    }

        .faculty-dashboard-header {
            display: flex;
            flex-direction: row;

            box-sizing: border-box;

            padding-right: 15px;
            margin: 0 10px;
        }

            .faculty-dashboard-header > h3 {
                text-align: center;
                font-size: 12px;
            }

            .faculty-reservations h3, .faculty-reservations p, .faculty-reservations > div > div > div {
                width: calc(100% / 6);
                text-align: center;
            }

            .faculty-approval-requests h3, .faculty-approval-requests p{
                width: 20%;
            }

        .faculty-dashboard-container > div{
            display: flex;
            flex-direction: column;

            width: 48%;
        }

            .faculty-dashboard-scrollable{
                display: flex;
                flex-direction: column;

                gap: 10px;
                

                height: 300px;
                overflow-y: scroll;
            }

                .scroll-item{
                    display: flex;
                    flex-direction: row;

                    box-sizing: border-box;
                    margin: 0 10px;

                    align-items: center;
                }

                .scroll-item:hover {
                    background-color: gray;
                    cursor: pointer;
                }
                    
                    .scroll-item > p {
                        font-size: 14px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                    }

            

                

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important; 
}